<!-- family-management.component.html -->
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Guardians</th>
        <th>Address</th>
        <th>Emergency Contact</th>
        <th>Children</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let family of familiesData">
        <td>{{ family.id }}</td>
        <td>
          <div *ngFor="let guardian of family.guardians; let last = last" class="font-bold">{{ guardian.name }}{{ !last ? ', ' : '' }}</div>
        </td>
        <td>{{ family.address.addressDetails }}</td>
        <td>{{ family.emergencyContact.name }}</td>
        <td>
          <ng-container *ngFor="let child of family.children; let last = last">
            <div>{{ child.name }}{{ !last ? ', ' : '' }}
            <!-- Apply the badge only to the active child -->
            <span *ngIf="child.active" class="badge badge-sm badge-outline badge-secondary">Active</span>
          </div>
          </ng-container>
        </td>
        <td>
          <a (click)="editFamily(family.id)" title="Edit Family" class="menu menu-horizontal">
            <fa-icon [icon]="faPencil"></fa-icon>
          </a>
          <a (click)="deleteFamily(family.id)" title="Delete Family" class="menu menu-horizontal">
            <fa-icon [icon]="faTrash"></fa-icon>
          </a>
      </tr>
    </tbody>
  </table>
</div>
